<footer class="text-white bg-dark">
  <div class="container py-4 py-lg-5">
      <div class="row justify-content-center">
          <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
              <h3 class="fs-5 text-white">Contactos</h3>
              <p style="margin-bottom: 0px;">Telf:&nbsp;004-220214</p>
              <p>E-mail: rentease@gmail.com</p>
          </div>
          <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item"></div>
          <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item"></div>
          <div class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last item social"></div>
      </div>
      <hr>
      <div class="d-flex justify-content-between align-items-center pt-3">
          <p class="mb-0">RentEase © Grupo1 - Transaccionales 2024</p>
          <ul class="wrapper">
            <li class="icon facebook">
              <a href="#" target="_blank">
              <span class="tooltip">Facebook</span>
              <span><i class="fab fa-facebook-f"></i></span>
            </a>
            </li>
            <li class="icon twitter">
              <a href="#" target="_blank">
              <span class="tooltip">Twitter</span>
              <span><i class="fab fa-twitter"></i></span>
            </a>
            </li>
            <li class="icon instagram">
              <a href="#" target="_blank">
              <span class="tooltip">Instagram</span>
              <span><i class="fab fa-instagram"></i></span>
            </a>
            </li>
            <li class="icon github">
              <a href="#" target="_blank">
              <span class="tooltip">Github</span>
              <span><i class="fab fa-github"></i></span>
            </a>
            </li>
            <li class="icon youtube">
              <a href="#" target="_blank">
              <span class="tooltip">Youtube</span>
              <span><i class="fab fa-youtube" ></i></span>
            </a>
            </li>
          </ul>
      </div>
  </div>
</footer>
