<div>
  <header>
      <div id="Part1-Landing" class="bg-success d-flex align-items-center" style="height: 100vh;">
          <div class="container text-center" id="Press-Landing" style="width: auto;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
              <h1 style="margin-top: 15px;">Comodidad, Convivencia y Comunidad</h1>
              <h2 class="fw-normal"><br>“Nuestra plataforma te ofrece una amplia selección de habitaciones para estudiantes diseñadas para brindarte la comodidad que necesitas para concentrate en tus estudios”<br><br></h2>
          </div>
      </div>
  </header>
  <section class="py-5">
      <div class="container" id="Servicios-Landing" [ngClass]="{'px': addPadding}">
          <h1>Quienes somos nosotros?</h1>
          <p style="text-align: justify;">Somos un grupo de universitarios que, conscientes de las dificultades que enfrentan nuestros compañeros y muchos otros estudiantes al buscar alojamiento adecuado, hemos decidido actuar. Observamos que la falta de vivienda asequible y apropiada para estudiantes dificulta enormemente la continuación de sus estudios en un entorno tranquilo y propicio para el aprendizaje. Por ello, hemos creado esta página para ofrecer soluciones y apoyar a otros en la misma situación, buscando transformar el panorama del alojamiento estudiantil.</p>
          <h2>Mision:</h2>
          <p style="text-align: justify;">Nuestra misión es facilitar a los estudiantes universitarios de áreas remotas o distintas a la sede central, acceso a alojamiento asequible y confiable. Esto lo logramos a través de una plataforma integral que no solo cumple con las regulaciones locales de vivienda, sino que también fomenta relaciones sólidas y duraderas con los propietarios de las viviendas.</p>
          <h2>Vision:</h2>
          <p style="text-align: justify;">Aspiramos a ser la principal referencia para estudiantes universitarios que buscan alojamiento en áreas alejadas de su hogar. Nos destacamos por nuestra transparencia, eficiencia y un firme compromiso con la satisfacción del cliente, asegurándonos de que cada estudiante encuentre un hogar lejos de casa donde pueda prosperar académicamente.</p>
          <hr>
          <h1 style="margin-top: 15px;">Funciones en nuestra Plataforma</h1>
      </div>
  </section>
</div>
